/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

html, body {
    font-family: verdana, sans-serif;
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6{
    font-family: verdana, sans-serif;
    font-weight: 500;
}
h1 {
    font-size: 2em;
    color: #29162F;
}

h1#course_header {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: #29162F;
}

h3 {
    font-size: 1em;
    color: #29162F;
}

.block {
    background:white;
    border-radius: 0px;
}

header.navbar.navbar-fixed-top, header.navbar * {
    background-image: none;
    background-color: #C6D05D;
    color: white;
    box-shadow: none;
}
a {
    /*color: #29162F;*/
    color: #1E0FBE;
}

a:hover {
    color: #29165F;
}

a:visited {
    color: #29165F;
}

header ul.nav li a {
    color:white;
}

header ul.nav li div.logininfo > a {
    color: #29165F;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li:hover {
    background-image: none;
    background-color: #C6D05D !important;
    color:#29165F;
}

input[type="submit"], input[type="button"] {
    text-shadow:0px;
    background-image: none;
    background-color: white;
    border-radius: 0px;
    padding: 5px 15px 5px 15px;
    color:#29165F;
}

input#id_submitbutton, input#id_submitbutton2 {
    background-color: #C6D55D;
    background-image: none;

}

input#id_submitbutton:hover, input#id_submitbutton2:hover {
    background-image: none;
    background-color: #C6D09f;
}

input[type="submit"]:hover, input[type="button"]:hover {
    text-shadow:0px;
    background-image: none;
    background-color: #eee;
    border-radius: 0px;
    padding: 5px 15px 5px 15px;
    color:#29165F;
    box-shadow: 0px;
}

.loginbox .loginform .form-input input{
    width: 8em;
}

.loginbox .loginform .form-input input[type="submit"]{
    display: block;
    text-align: center;
    margin: auto;
}

.loginbox .loginform .form-input {
    clear: both;
    text-align: center;
    margin:auto;
    width:auto;
    float: none;
}

.loginbox .loginform .form-label {
    display: block;
    text-align: center;
    clear: both;
    width: 100%;
}


.navbar .brand {
    text-shadow: none;
}

.navbar .nav > li > a{
    text-shadow:none;
}

div.nav-collapse.collapse {
    top:1.5em;
}

a.brand img {
    width: 12em;
}

div#page-navbar {
    padding-top: 1em;
}

div.meta_year > h3 {
    line-height: 1.5em;
}

div.meta_year:hover {
  cursor: pointer;
}

div.meta_course_block {
    border-bottom: 1px solid #ccc;
}

/*might screw up defaults*/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    margin:0 0 5px 0;
}

.form-item, .mform .fitem {
    margin-bottom: 0px;
}

legend.ftoggler {
    font-size: 1em;
    line-height: 10px;
    padding-bottom: 5px;
}

div.felement.feditor {
    margin-bottom: 10px;
}

table#view_meta_table, table#view_date_table {
    width:100%;
}

div#meta_wrapper {
    width: 100%;
}
table#view_meta_table tr td:nth-child(2) {
    text-align: justify;
}

/*MOBILE AND TABLET*/

@media (max-width: 979px) {

    .block_metacourse {
        margin-top:50px;
    }

  .navbar-fixed-top {
      position: fixed;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 2em;
  } 
    button.btn.btn-navbar {
        margin-top: 1em;
        float:left;
    }

    .breadcrumb-nav, nav.breadcrumb-button{
        top:6em;
        position: relative;
    }

     nav.breadcrumb-button{
        display: none;
     }

    div.nav-collapse.collapse {
        top:0.5em;
    }
    header.navbar, header.navbar * {
      -webkit-transform:translateZ(1px);
      -moz-transform:translateZ(1px);
      -o-transform:translateZ(1px);
      transform:translateZ(1px);
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
    }

    .empty-region-side-post.used-region-side-pre #block-region-side-pre.span4{
        width: 100%;
    }

    .empty-region-side-post.used-region-side-pre #region-main.span8{
        width: 100%;
        text-align: justify;
    }
    header#page-header > h1 {
        margin-top:3.5em;
        position:relative;
        margin-bottom:0;
        line-height: 30px;
        text-align: center;
        color: #C6D05D;

    }

    #page-content h1 {
        font-size: 1.5em;
    }
 
    #page > #page-header > div.breadcrumb-nav > ul.breadcrumb {
        margin-top: 100px;
        position: relative;
    }

    #view_date_table tr td{
        display: block;
    }

    #view_date_table thead {
        display:none;
    }

   
    #view_date_table tr:after {
        content:"";
        display:block;
        height:5px;
        width:100%;
        margin:auto;
        background-color:#C6D05D;
        color:black;
        font-weight:bold;
        padding-bottom:2px;
    }

    #meta_table tr td.c4, #meta_table thead tr th.c4, #meta_table thead {
        display:none;
    }
    #meta_table tr td{
        display:block;
    }

    #meta_table tr:after {
        content: "";
        display: block;
        height:10px;
        margin-bottom:10px;
        background-color: #C6D05D;
    }

    #view_meta_table tr td {
        display:block;
        background:white;
        border:0px;
    }
    #view_meta_table tr td:hover {
        background:white;
    }

    #view_meta_table tr {
        border-bottom:1px solid #C6D05D;
    }

    #view_meta_table tr td:first-child {
        font-size: 1.3em;
    }
    
    /*TODO: fiX this lean_overlay*/
    #lean_overlay {
        height:70%;
        z-index:99999999;
    }
    #lean_overlay h1 {
        font-size:1.2em;
        text-align:center;
    }
    #tos_content{
        padding:2px;
    }
    #cmd {
        padding-top:1em;
    }

    .block_frontpage {
        display: none;
    }

}

section.center_block {
    margin-left:5px ;
}

@media (max-width: 500px) {
    div.meta_course_block > span.meta_course_date {
        float: none;
        display:block;
        margin-left: 1.5em;
        font-size: 0.75em;
    }

    button.btn.btn-navbar {
        margin-top: 1em;
        float:left;
    }


}

@media (min-width:1025px) {
  #page {
    width:75%;
    margin: auto;
  }

  header.navbar {
    width:75%;
    margin: auto;
  }

  .logininfo * {
    font-size: 1em;
  }
}


a {
  font-size: 13px;
}
p {
  font-size: 1em ;
}

#page-header h1 {
    display: none;
}

#page-content {
    margin-top:28px;
}




/* Once upon a time... */
body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
}
.block .header .title h2, .block h3.main {
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  text-transform: none;
  margin-bottom:20px;
  margin-top: 10px;
}
header.navbar.navbar-fixed-top, header.navbar * {
  color: #000;
  border: 0;
  font-size: 10px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0;
}

div.block_action {
  display:none;
}
aside div.block div.title h2 {
  text-align: center;
}

div.block_metacourse {
  background: #2F0D30;
  border: 0;
}
div.block_metacourse div.header {
  display: none;
}
div.block_metacourse a {  
  color: #ECECEC;
  display: block;
  margin: auto;
  text-align:center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
div.block_metacourse:hover {
  background:#BAD944;
}
div.block_metacourse:hover a {
  color:#2F0D30;
}
	
.row-fluid  div.meta_category {
  background: white;
  border:1px solid #F5F5F5;
}
div.meta_category {
  padding: 0;
}
div.meta_category h2 {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
div.meta_category h2 a {
  font-weight: normal;
  font-size: 14px;
  display: block;
  min-height: 50px;
  padding: 15px;
}
div.meta_category a:hover {
  background: #CACA63;
}

#region-bs-main-and-pre>.row-fluid>[class*="span"] {
  margin-left: 0;
}

body {
  padding-top: 0;
}

.navbar .nav.pull-right {
  float: none;
}
.navbar .brand {
  float: right;
  padding-top:1em;
}
.navbar-inner {
  padding: 0;
}
.navbar .nav>li {
  float: none;
}
div.nav-collapse.collapse {
  display: block;
  float: left;
}
.navbar .brand img {
  width: 200px;
}
header.navbar.navbar {
  height:132px;
  background-repeat: no-repeat;
  /*background-image:url('http://i58.tinypic.com/wagad3.png');*/
  /*background-image:url('http://i57.tinypic.com/2cok3f7.png');*/
  background-image:url('http://novozymes.it-kartellet.dk/theme/novo/pix/png-1.png');
}
header.navbar * {
  background: transparent;
  color: white;
}
header ul.nav li div.logininfo > a {
  color: white;
  text-decoration: underline;
}
.navbar .nav > li > a {
  background: #E5E5E5;
  color:#333;
}
.navbar .nav > li > a:hover {
  background:#FFF;
}
.open>.dropdown-menu {
  background: #eee;
  border-radius: 0;
  padding: 0;
}
.open>.dropdown-menu a {
  color: #333;
}
nav a.brand {
  width: 245px;
  text-align: center;
}
table {
	border: 1px solid #ccc;
}
div.edit_course_btn, div.delete_course_btn, div.export_course_btn {
	overflow: hidden;
}
div.export_course_btn input[type='submit'], div.delete_course_btn input[type='submit'], div.edit_course_btn input[type='submit'] {
	position: absolute;
	top: 0;
	left :0;
	border:0;
	background:0;
	cursor:pointer;
}
td.cell ul {
	list-style-type: none;
}
a {
	cursor:pointer;
}
#meta_table_previous {
	margin-right: 10px;
}
#meta_wrapper {
	margin-top: 20px;
}
#meta_table_wrapper {
	margin-top: 20px;
}
*:focus {
	outline: 0;
}
th.header {
	padding: 5px 20px;
}

/* Responsive */
@media (max-width: 767px) {
	body {
		padding: 0;
	}
	#page {
		padding-left: 20px;
		padding-right: 20px;
	}
	div.nav-collapse.collapse {
		top: -20px;
		right: 5px;
	}
	.nav-collapse .nav {
		margin: 0;
	}
	header.navbar .logininfo,
	header ul.nav li div.logininfo > a {
		color: #333;
	}
	.nav-collapse .nav li a:hover {
		background: #EEE;
	}
	#page-content {
		margin-top: 0;
	}
	#page-header {
		display:none;
	}
	div.settings_btn, div.new_course_btn, div.who_enrol {
		display: block;
		width: 100%;
	}
	div.settings_btn *, div.new_course_btn *, div.who_enrol * {
		width: 100%;
	}
	div.dataTables_filter label, div.dataTables_length label {
		float: none;
		display: block;
	}
	#meta_table tr:after {
		margin: 0;
	}
}

@media (max-width: 979px) {
	#page-header {
		display:none;
	}
	#page-content {
		margin-top: 0;
	}
  header.navbar.navbar {
  background-image: none;
  background: #BAD944;
  height: auto;
  height: 80px;
  position:relative;
  }
  div.nav-collapse.collapse {
    height: auto;
    display: block;
    top: 10px;
    left: 10px;
    position:relative;
  }
  .navbar-text {
    line-height: 16px;
  }
  .navbar .brand {
    width: 150px;
  }
  .navbar {
    margin-bottom: 0;
  }
  #lean_overlay {
    height:100%;
  }
  div.nav-collapse.collapse {
  width: 120px;
  }
  
  div.nav-collapse.collapse {
    width: 200px;
  }
  ul.nav > li.dropdown {
    width: 120px;
    overflow: visible;
  }
  .nav-collapse .open>.dropdown-menu {
    position: relative;
    margin: 0;
  }
  .nav-collapse .open>.dropdown-menu li {
    width: 100%;
  }

}

#page, header.navbar.navbar {
	max-width:1065px !important;
}


.row-fluid div.meta_category {
  background: #F7F7F7;
}

.navbar-inner {
  filter:none !important;
}
